@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

body {
    font-family: 'Archivo Black', sans-serif;
    background-color: #000;
    color: #fff
}

a {
    text-decoration: none;
    color: #fff
}

section {
    position: absolute;
    width: 100%;
    top: 20%;
    display: none
}

section:first-child {
    display: block
}

section h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 60px;
    line-height: 66px;
    height: 150px
}

.spanish section h1,
.french section h1,
.german section h1 {
    font-size: 50px;
    height: 200px
}

.portuguese section h1 {
    font-size: 46px;
    height: 200px
}

.btn-box {
    margin: 50px 0 30px
}

.btn {
    display: inline-block;
    width: 40%;
    margin: 0 2%;
    text-align: center;
    font-size: 60px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 140px;
    line-height: 140px;
    cursor: pointer;
    transition: all .2s linear;
    text-transform: uppercase
}

.btn-no {
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 1)
}

.btn-no:hover {
    background-color: rgba(255, 255, 255, 0.25)
}

.btn-yes {
    background-color: #468cc8
}

.btn-yes:hover {
    background-color: #024d8f
}

section p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #6fb3ed;
    text-align: center
}

.img-box {
    float: left;
    width: 40%;
    text-align: center
}

.img-box img {
    max-width: 90%
}

.txt-box {
    float: right;
    width: 57%;
    padding-right: 3%;
    text-align: center
}

@media screen and (max-width:1600px) {
    section h1 {
        font-size: 50px;
        line-height: 56px;
        height: 150px
    }

    .spanish section h1,
    .french section h1,
    .german section h1 {
        font-size: 50px
    }

    .portuguese section h1 {
        font-size: 46px
    }
}

@media screen and (max-width:1280px) {
    section h1 {
        font-size: 44px;
        line-height: 50px;
        height: 150px
    }

    .spanish section h1,
    .french section h1,
    .german section h1 {
        font-size: 44px
    }

    .portuguese section h1 {
        font-size: 40px
    }
}

@media screen and (max-width:1000px) {
    p.ee {
        font-size: 16px
    }

    section {
        top: 2%
    }

    .img-box {
        width: 100%
    }

    .txt-box {
        width: 100%;
        padding: 0
    }

    section h1 {
        font-size: 28px;
        line-height: 34px;
        width: 90%;
        height: auto;
        padding: 5px 5% 0
    }

    .spanish section h1,
    .french section h1,
    .german section h1,
    .portuguese section h1 {
        font-size: 28px;
        height: auto
    }

    .btn-box {
        margin: 35px 0 15px
    }

    .btn-no {
        border-width: 2px
    }

    .btn {
        width: 90%;
        height: 45px;
        line-height: 45px;
        font-size: 25px;
        margin-bottom: 10px;
        border-radius: 5px
    }

    section p {
        font-size: 14px;
        padding-bottom: 20px
    }
}